// Google Fonts

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

// Reset

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
input,
button {
    font-family: 'Open Sans', sans-serif;
}

// Gerais

h1 {
    font-size: 40px;
    line-height: 48px;
}
h2 {
    font-size: 25px;
    line-height: 30px;
    font-weight: 300;
}

body {
    overflow: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 85%;
    margin: 0 auto;
}

.btn-large {
    display: inline-block;
    background: #b08961;
    color: #fff;
    border: none;
    font-weight: 700;
    font-size: 18px;
    padding: 10px 25px;
    transition: all .3s ease;
    &:hover {
        transform: translateY(-3px);
    }
}

.wathsapp {
    position: absolute;
    right: 0;
    bottom: 50%;
}

.slider {
    background: rgba($color: #0D1633, $alpha: .3);
    border: 1px solid #808080;
    padding: 30px 0;
    h2 {
        span {
            font-weight: bold;
        }
    }
    &-header {
        float: left;
        position: relative;
        margin-right: 120px;
        .slick-next {
            position: absolute;
            z-index: 1000;
            top: 30px;
            right: -80px;
        }
    }
    &-list {
        
    }
    &-item {
        h4 {
            margin-top: 15px;
            text-transform: uppercase;
            position: relative;
            // &::before {
            //     content: '';
            //     position: absolute;
            //     left: -150px;
            //     top: 0;
            //     display: block;
            //     width: 265px;
            //     height: 1px;
            //     background-color: #808080;
            //     transform: rotate(90deg);
            // }
        }
    }
}

// Main

.main {
    position: relative;
    top: 0; bottom: 0;
    left: 0; right: 0; 
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0, .3), rgba(0,0,0, .3)), url('../img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    .slider {
        position: absolute;
        left: 7.5%;
        right: 7.5%;
        bottom: 0;
    }
}

// Header 

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

// Nav
.nav {
    &-list {
        display: flex;
        align-items: center;
        gap: 30px;
    }
}

// Hero

.hero {
    padding-top: 100px;
    text-transform: uppercase;
    .btn-large { 
        margin-top: 30px;
    }
    h2 {
        margin: 8px 0;
    }
}
