// Variables
$sm: 575.98px;
$md: 767.98px;
$lg: 991.98px;
$xl: 1199.98px;
$xxl: 1399.98px;

// Google Fonts

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

// Reset

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
input,
button {
    font-family: 'Open Sans', sans-serif;
}

// Gerais

h1 {
    font-size: 40px;
    line-height: 40px;
}
h2 {
    font-size: 25px;
    line-height: 30px;
    font-weight: 300;
}

body {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

.container {
    max-width: 85%;
    margin: 0 auto;
}

.btn-large {
    display: inline-block;
    background: #b08961;
    color: #fff;
    border: none;
    font-weight: 700;
    font-size: 18px;
    padding: 10px 25px;
    transition: all .3s ease;
    &:hover {
        transform: translateY(-3px);
    }
}

.wathsapp {
    display: flex;
    align-items: center;
    position: fixed;
    right: -200px;
    bottom: 50%;
    background: #33C807;
    transition: all .3s ease;
    &:hover {
        right: 0;
    }
    &-icon {
        vertical-align: middle;
        width: 70px;
        height: 72px;
    }
    &-text {
        padding-right: 20px;
    }
}

// Main

.main {
    position: relative;
    top: 0; bottom: 0;
    left: 0; right: 0; 
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0, .3), rgba(0,0,0, .3)), url('../img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

// Header 

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

// Nav

.nav {
    &-list {
        display: flex;
        align-items: center;
        gap: 30px;
    }
}

// Hero

.hero {
    padding-top: 100px;
    text-transform: uppercase;
    .btn-large { 
        margin-top: 30px;
    }
    h2 {
        margin: 8px 0;
    }
}

// Footer

.footer {
    display: flex;
    background: rgba($color: #0D1633, $alpha: .3);
    border: 1px solid #808080;
    position: absolute;
    left: 7.5%;
    right: 7.5%;
    bottom: 0;
    h2 {
        span {
            font-weight: bold;
        }
    }
    &-text {
        text-transform: uppercase;
        padding: 30px 0;
        flex-basis: 30%;
        position: relative;
        margin-right: 120px;
        .slider-next {
            display: none;
            position: absolute;
            z-index: 1000;
            top: 60px;
            right: -135px;
        }
    }
}

.slider {
    flex: 1;
    &-item {
        text-align: center;
        padding: 30px;
        position: relative;
        border-right: 1px solid #808080;
        &.swiper-slide-active {
            border-left: 1px solid #808080;
            .separator {
                display: none;
            }
        }
        .separator {
            position: absolute;
            top: 50%;
            left: -3%;
        }
        h4 {
            margin-top: 15px;
            text-transform: uppercase;
        }
    }
}

// Responsivo

@media (max-width: $xl) {
    h1 {
        font-size: 32px;
    }
    .hero {
        h2 {
            font-size: 18px;
            line-height: 18px;
        }
    }
    .footer {
        &-text {
            .slider-next {
                display: block;
            }
        }
    }
}

@media (max-width: 1500px) {
    .footer {
        &-text {
            h2 {
                font-size: 20px;
                line-height: 24px;
                white-space: nowrap;
            }
        }
    }
}

@media (max-width: $md) {
    .main {
        background-image: linear-gradient(rgba(0,0,0, .3), rgba(0,0,0, .3)), url('../img/background-mobile.jpg');
    }
    .hero {
        padding-top: 60px;
        h1 {
            font-size: 26px;
            line-height: 32px;
        }
        h2 {
            margin: 4px 0;
            font-size: 16px;
        }
    }
    .wathsapp-icon {
        width: 48px;
        height: 50px;
    }
    .btn-large {
        font-size: 16px;
    }
    .footer {
        display: block;
        &-text {
            margin: 0;
            width: 100%;
            padding: 10px 0;
            h2 {
                font-size: 16px;
                margin-top: 15px;
                text-align: center;
            }
            .slider-next {
                width: 32px;
                height: 32px;
                top: -15%;
                left: 50%;
            }
        }
        .slider {
            &-item {
                border: none;
                padding: 15px 30px;
                .separator {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: $sm) {
    .hero {
        h2 {
            max-width: 250px;
        }
    }
}
